.container {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
}

.item {
  position: relative;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  flex-grow: 1;
}

.absolute-button {
  position: absolute;
  top: 210px;
  right: 140px;
  background-color: #ffffff;
  color: rgb(9, 9, 9);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 28px;
  border: 0.5px solid #000000;
}

.img {
  padding-top: 10px;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
